<h1> <%= "#{@game.on_turn.name} has attacked #{@game.not_on_turn.name}!"%></h1>
<h1> <%= "#{@game.not_on_turn.name} has #{@game.not_on_turn.hit_points} butter points"%></h1>

<form action="/play">
  <input type="submit" value="Home">
</form>
