<h1><%="Welcome #{@player_1_name} and #{@player_2_name}!"%></h1>

<h1> <%= "#{@player_1_name} has #{@player_1_hp} butter points"%></h1>
<h1> <%= "#{@player_2_name} has #{@player_2_hp} butter points"%></h1>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
