<h1><%="Welcome #{$player_1.name} and #{$player_2.name}!"%></h1>

<h1> <%= "#{$player_1.name} has #{$player_1.hit_points} butter points"%></h1>
<h1> <%= "#{$player_2.name} has #{$player_2.hit_points} butter points"%></h1>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
